doctype html
html
  head
    title Support Dashboard
    link(rel="stylesheet" href="/css/app.css" media="screen")
  body
    .container
      .main
        .tickets
          .zendesk-tickets
            == partial(:active_incidents)
          .row
            .services-down
              == partial(:alerts)
            .external-tools-down
              == partial(:past_week)
        .roster
          == partial(:persons)
      .status-bar
        == partial(:problem_mode)
    script(src="/js/app.js")
