<div id="alerts" class="panel">
  <h2>Alerts 
    <% if @data.alerts.any? && @data.alerts.count > 0 %>
      (4 of <%= @data.alerts.count %>)
    <% end %>
  </h2>
  <ul>
    <%if @data.alerts.any? %>
      <%= partial(:alert, collection: @data.alerts) %>
    <% else %>
      <li class="good"> No alerts to report </li>
    <% end %>
  </ul>
</div>
 