<div id="alerts">
  <h2>Alerts</h2>
    <ul>
    <%if @data.alerts.any? %>
      <%= partial(:alert, collection: @data.alerts) %>
    <% else %>
      <li class="good"> No alerts to report </li>
    </ul>
  <% end %>
</div>
