<li class="contact-method <%= contact_method[:type] %>">
  <span class="contact-method-label"><%= contact_method[:label] %>: </span>
  <span class="contact-method-address"><%= contact_method[:address] %></span>
</li>
