<!doctype html>
<html lang=en-us>
<head>
  <meta http-equiv="refresh" content="5">
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background-color:black;
      color:white;
      font-size:20px
    }
    ul {
      width:80%;
      margin: 0 auto;
      list-style:none;
    }
    li {
      width:100%;
      background-color:red;
      margin:1em;
      padding: 0.5em;
    }
    li.good {
      background-color:green;
    }
  </style>
</head>
<body>
  <ul>
    <% if @alerts.empty? %>
      <li class="good">No alerts to report</li>
    <% end %>
    <% @alerts.each do |alert| %>
      <li><%= alert.message %></li>
    <% end %>
  </ul>
</body>
</html>
