<!doctype html>
<html lang=en-us>

<head>
  <title>Support Dashboard</title>
  <%#<meta http-equiv="refresh" content="5">%>
  <link rel="stylesheet" href="css/app.css" media="screen">
</head>

<body class="public">
  <div class="container">
    <div class="main">
      <div class="tickets">
        <%= partial(:active_incidents) %>  
      </div>
      <div class="roster">
        <%= partial(:manager) %>
      </div>
      <div class="status-bar <%unless @data.alerts.empty? %>alert <% end %>
        <% if @data.problem_mode %>
          problem-mode
        <% end %>">
        <%= partial(:problem_mode) %>
        <div class="external-tools-down">
           <%= partial(:past_week) %>
        </div>
      </div>
    </div>
  </div>
  <script scr="/js/app.js"></script>
</body>
</html>

