<!doctype html>
<html lang=en-us>
<head>
  <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="css/app.css" media="screen">
</head>
<body>
  <table>
    <th>Alerts</th>
    <th>On duty</th>
    <tr>
      <td>
        <ul>
          <% if @alerts.empty? %>
            <li class="good">No alerts to report</li>
          <% end %>
          <% @alerts.each do |alert| %>
            <li><%= alert.message %></li>
          <% end %>
        </ul>
      </td>
      <td>
        <div class="duty-roster">
          <ul>
            <% @whos_on_duty.each do |w| %>
              <li><%= w %></li>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>
  </table>

  
  
</body>
</html>
