<!doctype html>
<html lang=en-us>

<head>
  <%#<meta http-equiv="refresh" content="5">%>
  <link rel="stylesheet" href="css/app.css" media="screen">
</head>

<body class="<%unless @alerts.empty? %>alert<% end %>
 <%if @problem_mode %>problem-mode<% end %>">
  <div class="container">
  <%= partial(:problem_mode) %>
    <div class="column">
      <%= partial(:alerts) %>
      <%= partial(:past_week) %>
    </div>
    <%= partial(:persons) %>
  </div>
</body>

</html>
