<!doctype html>
<html lang=en-us>

<head>
  <%#<meta http-equiv="refresh" content="5">%>
  <link rel="stylesheet" href="/css/old.css" media="screen">
</head>

<body class="<%unless @data.alerts.empty? %>alert<% end %>
 <%if @data.problem_mode %>problem-mode<% end %>">
  <div class="container">
    <%= partial(:problem_mode) %>
     <div class="column">
      <%= partial(:active_incidents) %>
    </div>
    <%= partial(:manager) %>
  </div>
  <script src="/js/app.js"></script>
</body>

</html>
