<!doctype html>
<html lang=en-us>
<head>
  <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="css/app.css" media="screen">
</head>
<body>
  <ul>
    <% if @alerts.empty? %>
      <li class="good">No alerts to report</li>
    <% end %>
    <% @alerts.each do |alert| %>
      <li><%= alert.message %></li>
    <% end %>
  </ul>
  <div class="duty-roster">
    <h2>On duty</h2>

    <ul>
      <% @whos_on_duty.each do |w| %>
        <li><%= w %></li>
      <% end %>
    </ul>
  </div>
</body>
</html>
