<div id="duty-roster" class="column">
  <h2>On duty</h2>
  <%if @whos_on_duty[:person] %>
  <ul>
    <li class="<%= @whos_on_duty[:rule] %> <%= @whos_on_duty[:has_phone]? "phone" : "" %>">
      <span class="phone-icon"></span>
      <%= @whos_on_duty[:person] %>
      <%if @whos_on_duty[:contact_methods] && @whos_on_duty[:contact_methods].any? %>
        <ul class="contact-methods">
        <%= partial(:contact_method, collection:@whos_on_duty[:contact_methods]) %>
        </ul>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>