<div id="duty-roster">
  <div class="panel">
    <h2>On duty</h2>
    <%if @data.whos_on_duty.any? %>
      <ul class="roster-list">
        <%= partial(:person, collection:@data.whos_on_duty) %>
      </ul>
    <% end %>

    <%= partial(:out_of_hours) %>

  </div>
</div>
