<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
    <link rel="stylesheet" href="css/app.css" media="screen">
  </head>
  <body class="">
    <div class="container">
      <div class="column">
        <div id="alerts">
          <h2>Alerts</h2>
          <ul>
            <li class="good"> No alerts to report </li>
          </ul>
        </div>
        <div id="status">
          <h2>Active Incidents</h2>
          <ul>
            <li class="good"> No active incidents</li>
          </ul>
        </div>
        <div id="past_week">
          <h2>Past week</h2>
        </div>
      </div>
      <div id="duty-roster" class="column">
      	<h2>On duty</h2>
      	<ul id="on-duty">
      	</ul>
      </div>
      <div class="column">
      	<h2>Out of Hours</h2>
      	<ul id="out-of-hours">
      	</ul>
      </div>
    </div>
  </body>
</html>
