* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#4D4949;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', 'sans-serif';
}

.alert {
    background-color: #D12C4A;
}

.incident-mode {
    background-color: #F5A536;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 38px;
}



.Heading{
    font-size:25px;
    background-color:#333333;
    padding:5px;
    text-align: center;
    border-bottom:#fff 2px dashed;
}
ul{
    background-color:#666666;
    padding:10px;

}

li {
    color:#fff;
    font-size:2.5em;
    list-style: none;

}

.good {
    background-color:#9DEB9E;
}

.bad {
    background-color:red;
}
.container {
    overflow: hidden;
    padding:1em;
}

.heading {
    width:100%;
    text-align: center;
    font-size: 25px;
}

.column {
    float:left;
    width:49%;
}

.column:last-child {
    float:right;
}


#duty-roster{
    width:35%;
    border:#fff 2px dashed;
}
#alerts{
    width:60%;
    border:#fff 2px dashed;
}








