@import "_vars.css";
@import "_media_rules.css";

.status-bar {
  lost-utility: clearfix;
  @media (--desktop){
    lost-row: 1/8;
    lost-utility: clearfix;
  };
  border-top:1px dashed var(--base00);
}
.problem-mode{
  @media (--desktop) {lost-column: 2/3;}
}

.external-tools-down {
  @media (--desktop) {lost-column: 1/3;}
  font-size:2rem;
}
.incident-number{
  .number{
    color: var(--yellow);
  }
}
