@import "_vars.css";

body {
  background-color: var(--base03);
  color:var(--base2);
  min-height: 100%;
  font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
  font-size: 2rem;
  padding:.5rem;
}

ul{
  padding-left:0;
  margin:0;
}
li {
  list-style: none;
  padding: 0.8rem 0;
}
i{
  padding-right: 1em;
}

body.problem-mode{
  background-color: #F5A536;
  color: #550000;
  h2{
    color:#550000;
  }
}
