/* variables */
:root {
  --bgColour: #262525;
  --alertColour:#F5A536;
  --problemColour:#d12c2f;
  --headingColour:#8ECFED;
  --panelColour:#605d5d;
  --panelHeadColour:#c5eff7;
  --panelPadding : 0.5em;
}

/* media tags */
@custom-media --mobile (width <= 640px);
@custom-media --tablet (width <= 768px);
@custom-media --desktop (width >= 1023px);

/* tags */
body {
  background-color: var(--bgColour);
  color:#fff;
  font-family: "Andale Mono",AndaleMono,monospace;
}

h2{
  font-size: 2em;
  font-weight: bold;
  margin-top: 0; 
  color: var(--panelHeadColour);
}

ul{
  margin:0;
  padding: 0;
  li {
    list-style: none;
  }
}

/* layout */
.container{
  height: 100%;
}

.container,
.row {
  lost-utility: clearfix;
}

/* rows */
.main {
  lost-utility: clearfix;
  @media (--desktop){lost-row: 7/8;};
}

/* Main Tickets/Alerts */
.tickets {
  @media (--desktop){lost-column: 2/3;}
  > div{
    background-color: var(--panelColour);
    padding: var(--panelPadding);
    margin-bottom: 1em;
  }
  .services-down,
  .external-tools-down {
    lost-column: 1/2;
  }
}

/* Roster Panel */ 
.roster {
  @media (--desktop) {lost-column: 1/3;}
  background-color: var(--panelColour);
  > div{
    padding: var(--panelPadding);
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .roster-list li{
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #fff;
  }
  .contact-methods{
    padding-left: 0.8em;
    padding-top: 0;
    font-size: 0.7em;
    li{
      border-bottom: 0;
    }
  }
}

/* Status Bar Panel */
.status-bar {
  lost-utility: clearfix;
  @media (--desktop){
    lost-row: 1/8;
    lost-utility: clearfix;
    position:fixed;
    bottom: 0;
  };
  background-color: var(--panelColour);
  padding: var(--panelPadding);
  margin-top: 1em;
}
