:root {
    --bgColour: #ffbbaaff;
}
@custom-media    --mobile (width <= 640px);
@custom-media    --tablet (width <= 768px);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.post-article :--heading {
    color: color( var(--bgColour) blackness(+20%) );
}
@media (--mobile) {
    .post-article :--heading {
        margin-top: 0;
    }
}
div {
  lost-column: 1/3;
}
